<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuya.dao.HelpFindTutorMapper" >
  <resultMap id="BaseResultMap" type="com.wuya.model.HelpFindTutor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student_id" property="student_id" jdbcType="INTEGER" />
    <result column="my_requirement" property="my_requirement" jdbcType="VARCHAR" />
    <result column="my_name" property="my_name" jdbcType="VARCHAR" />
    <result column="my_mobile_no" property="my_mobile_no" jdbcType="INTEGER" />
    <result column="find_status" property="find_status" jdbcType="INTEGER" />
    <result column="student_profile" property="student_profile" jdbcType="VARCHAR" />
    <result column="matched_tutor_id" property="matched_tutor_id" jdbcType="INTEGER" />
    <result column="matched_tutor_name" property="matched_tutor_name" jdbcType="VARCHAR" />
    <result column="matched_tutor_phone" property="matched_tutor_phone" jdbcType="INTEGER" />
    <result column="matched_tutor_profile" property="matched_tutor_profile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_id, my_requirement, my_name, my_mobile_no, find_status, student_profile, 
    matched_tutor_id, matched_tutor_name, matched_tutor_phone, matched_tutor_profile
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from help_find_tutor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from help_find_tutor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuya.model.HelpFindTutor" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into help_find_tutor (student_id, my_requirement, my_name, 
      my_mobile_no, find_status, student_profile, 
      matched_tutor_id, matched_tutor_name, matched_tutor_phone, 
      matched_tutor_profile)
    values (#{student_id,jdbcType=INTEGER}, #{my_requirement,jdbcType=VARCHAR}, #{my_name,jdbcType=VARCHAR}, 
      #{my_mobile_no,jdbcType=INTEGER}, #{find_status,jdbcType=INTEGER}, #{student_profile,jdbcType=VARCHAR}, 
      #{matched_tutor_id,jdbcType=INTEGER}, #{matched_tutor_name,jdbcType=VARCHAR}, #{matched_tutor_phone,jdbcType=INTEGER}, 
      #{matched_tutor_profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuya.model.HelpFindTutor" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into help_find_tutor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="student_id != null" >
        student_id,
      </if>
      <if test="my_requirement != null" >
        my_requirement,
      </if>
      <if test="my_name != null" >
        my_name,
      </if>
      <if test="my_mobile_no != null" >
        my_mobile_no,
      </if>
      <if test="find_status != null" >
        find_status,
      </if>
      <if test="student_profile != null" >
        student_profile,
      </if>
      <if test="matched_tutor_id != null" >
        matched_tutor_id,
      </if>
      <if test="matched_tutor_name != null" >
        matched_tutor_name,
      </if>
      <if test="matched_tutor_phone != null" >
        matched_tutor_phone,
      </if>
      <if test="matched_tutor_profile != null" >
        matched_tutor_profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="student_id != null" >
        #{student_id,jdbcType=INTEGER},
      </if>
      <if test="my_requirement != null" >
        #{my_requirement,jdbcType=VARCHAR},
      </if>
      <if test="my_name != null" >
        #{my_name,jdbcType=VARCHAR},
      </if>
      <if test="my_mobile_no != null" >
        #{my_mobile_no,jdbcType=INTEGER},
      </if>
      <if test="find_status != null" >
        #{find_status,jdbcType=INTEGER},
      </if>
      <if test="student_profile != null" >
        #{student_profile,jdbcType=VARCHAR},
      </if>
      <if test="matched_tutor_id != null" >
        #{matched_tutor_id,jdbcType=INTEGER},
      </if>
      <if test="matched_tutor_name != null" >
        #{matched_tutor_name,jdbcType=VARCHAR},
      </if>
      <if test="matched_tutor_phone != null" >
        #{matched_tutor_phone,jdbcType=INTEGER},
      </if>
      <if test="matched_tutor_profile != null" >
        #{matched_tutor_profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuya.model.HelpFindTutor" >
    update help_find_tutor
    <set >
      <if test="student_id != null" >
        student_id = #{student_id,jdbcType=INTEGER},
      </if>
      <if test="my_requirement != null" >
        my_requirement = #{my_requirement,jdbcType=VARCHAR},
      </if>
      <if test="my_name != null" >
        my_name = #{my_name,jdbcType=VARCHAR},
      </if>
      <if test="my_mobile_no != null" >
        my_mobile_no = #{my_mobile_no,jdbcType=INTEGER},
      </if>
      <if test="find_status != null" >
        find_status = #{find_status,jdbcType=INTEGER},
      </if>
      <if test="student_profile != null" >
        student_profile = #{student_profile,jdbcType=VARCHAR},
      </if>
      <if test="matched_tutor_id != null" >
        matched_tutor_id = #{matched_tutor_id,jdbcType=INTEGER},
      </if>
      <if test="matched_tutor_name != null" >
        matched_tutor_name = #{matched_tutor_name,jdbcType=VARCHAR},
      </if>
      <if test="matched_tutor_phone != null" >
        matched_tutor_phone = #{matched_tutor_phone,jdbcType=INTEGER},
      </if>
      <if test="matched_tutor_profile != null" >
        matched_tutor_profile = #{matched_tutor_profile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuya.model.HelpFindTutor" >
    update help_find_tutor
    set student_id = #{student_id,jdbcType=INTEGER},
      my_requirement = #{my_requirement,jdbcType=VARCHAR},
      my_name = #{my_name,jdbcType=VARCHAR},
      my_mobile_no = #{my_mobile_no,jdbcType=INTEGER},
      find_status = #{find_status,jdbcType=INTEGER},
      student_profile = #{student_profile,jdbcType=VARCHAR},
      matched_tutor_id = #{matched_tutor_id,jdbcType=INTEGER},
      matched_tutor_name = #{matched_tutor_name,jdbcType=VARCHAR},
      matched_tutor_phone = #{matched_tutor_phone,jdbcType=INTEGER},
      matched_tutor_profile = #{matched_tutor_profile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
