<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuya.dao.QualificationMapper" >
  <resultMap id="BaseResultMap" type="com.wuya.model.Qualification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tutor_id" property="tutor_id" jdbcType="INTEGER" />
    <result column="qualification_type" property="qualification_type" jdbcType="INTEGER" />
    <result column="img_url" property="img_url" jdbcType="VARCHAR" />
    <result column="certificate_des" property="certificate_des" jdbcType="VARCHAR" />
    <result column="approval_status" property="approval_status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tutor_id, qualification_type, img_url, certificate_des, approval_status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qualification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qualification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuya.model.Qualification" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qualification (tutor_id, qualification_type, img_url, 
      certificate_des, approval_status, remark
      )
    values (#{tutor_id,jdbcType=INTEGER}, #{qualification_type,jdbcType=INTEGER}, #{img_url,jdbcType=VARCHAR}, 
      #{certificate_des,jdbcType=VARCHAR}, #{approval_status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuya.model.Qualification" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qualification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tutor_id != null" >
        tutor_id,
      </if>
      <if test="qualification_type != null" >
        qualification_type,
      </if>
      <if test="img_url != null" >
        img_url,
      </if>
      <if test="certificate_des != null" >
        certificate_des,
      </if>
      <if test="approval_status != null" >
        approval_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tutor_id != null" >
        #{tutor_id,jdbcType=INTEGER},
      </if>
      <if test="qualification_type != null" >
        #{qualification_type,jdbcType=INTEGER},
      </if>
      <if test="img_url != null" >
        #{img_url,jdbcType=VARCHAR},
      </if>
      <if test="certificate_des != null" >
        #{certificate_des,jdbcType=VARCHAR},
      </if>
      <if test="approval_status != null" >
        #{approval_status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuya.model.Qualification" >
    update qualification
    <set >
      <if test="tutor_id != null" >
        tutor_id = #{tutor_id,jdbcType=INTEGER},
      </if>
      <if test="qualification_type != null" >
        qualification_type = #{qualification_type,jdbcType=INTEGER},
      </if>
      <if test="img_url != null" >
        img_url = #{img_url,jdbcType=VARCHAR},
      </if>
      <if test="certificate_des != null" >
        certificate_des = #{certificate_des,jdbcType=VARCHAR},
      </if>
      <if test="approval_status != null" >
        approval_status = #{approval_status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuya.model.Qualification" >
    update qualification
    set tutor_id = #{tutor_id,jdbcType=INTEGER},
      qualification_type = #{qualification_type,jdbcType=INTEGER},
      img_url = #{img_url,jdbcType=VARCHAR},
      certificate_des = #{certificate_des,jdbcType=VARCHAR},
      approval_status = #{approval_status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
