<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuya.dao.TutorMapper" >
  <resultMap id="BaseResultMap" type="com.wuya.model.Tutor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="profession" property="profession" jdbcType="INTEGER" />
    <result column="teaching_age" property="teaching_age" jdbcType="INTEGER" />
    <result column="tutoring_timing" property="tutoring_timing" jdbcType="VARCHAR" />
    <result column="tutoring_type" property="tutoring_type" jdbcType="INTEGER" />
    <result column="is_hide" property="is_hide" jdbcType="INTEGER" />
    <result column="tutoring_area" property="tutoring_area" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wuya.model.TutorWithBLOBs" extends="BaseResultMap" >
    <result column="profile" property="profile" jdbcType="LONGVARCHAR" />
    <result column="edu_background" property="edu_background" jdbcType="LONGVARCHAR" />
    <result column="work_exp" property="work_exp" jdbcType="LONGVARCHAR" />
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, profession, teaching_age, tutoring_timing, tutoring_type, is_hide, tutoring_area
  </sql>
  <sql id="Blob_Column_List" >
    profile, edu_background, work_exp, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tutor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tutor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuya.model.TutorWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tutor (user_id, profession, teaching_age, 
      tutoring_timing, tutoring_type, is_hide, 
      tutoring_area, profile, edu_background, 
      work_exp, remark)
    values (#{user_id,jdbcType=INTEGER}, #{profession,jdbcType=INTEGER}, #{teaching_age,jdbcType=INTEGER}, 
      #{tutoring_timing,jdbcType=VARCHAR}, #{tutoring_type,jdbcType=INTEGER}, #{is_hide,jdbcType=INTEGER}, 
      #{tutoring_area,jdbcType=VARCHAR}, #{profile,jdbcType=LONGVARCHAR}, #{edu_background,jdbcType=LONGVARCHAR}, 
      #{work_exp,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuya.model.TutorWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tutor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="teaching_age != null" >
        teaching_age,
      </if>
      <if test="tutoring_timing != null" >
        tutoring_timing,
      </if>
      <if test="tutoring_type != null" >
        tutoring_type,
      </if>
      <if test="is_hide != null" >
        is_hide,
      </if>
      <if test="tutoring_area != null" >
        tutoring_area,
      </if>
      <if test="profile != null" >
        profile,
      </if>
      <if test="edu_background != null" >
        edu_background,
      </if>
      <if test="work_exp != null" >
        work_exp,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=INTEGER},
      </if>
      <if test="teaching_age != null" >
        #{teaching_age,jdbcType=INTEGER},
      </if>
      <if test="tutoring_timing != null" >
        #{tutoring_timing,jdbcType=VARCHAR},
      </if>
      <if test="tutoring_type != null" >
        #{tutoring_type,jdbcType=INTEGER},
      </if>
      <if test="is_hide != null" >
        #{is_hide,jdbcType=INTEGER},
      </if>
      <if test="tutoring_area != null" >
        #{tutoring_area,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=LONGVARCHAR},
      </if>
      <if test="edu_background != null" >
        #{edu_background,jdbcType=LONGVARCHAR},
      </if>
      <if test="work_exp != null" >
        #{work_exp,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuya.model.TutorWithBLOBs" >
    update tutor
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=INTEGER},
      </if>
      <if test="teaching_age != null" >
        teaching_age = #{teaching_age,jdbcType=INTEGER},
      </if>
      <if test="tutoring_timing != null" >
        tutoring_timing = #{tutoring_timing,jdbcType=VARCHAR},
      </if>
      <if test="tutoring_type != null" >
        tutoring_type = #{tutoring_type,jdbcType=INTEGER},
      </if>
      <if test="is_hide != null" >
        is_hide = #{is_hide,jdbcType=INTEGER},
      </if>
      <if test="tutoring_area != null" >
        tutoring_area = #{tutoring_area,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        profile = #{profile,jdbcType=LONGVARCHAR},
      </if>
      <if test="edu_background != null" >
        edu_background = #{edu_background,jdbcType=LONGVARCHAR},
      </if>
      <if test="work_exp != null" >
        work_exp = #{work_exp,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuya.model.TutorWithBLOBs" >
    update tutor
    set user_id = #{user_id,jdbcType=INTEGER},
      profession = #{profession,jdbcType=INTEGER},
      teaching_age = #{teaching_age,jdbcType=INTEGER},
      tutoring_timing = #{tutoring_timing,jdbcType=VARCHAR},
      tutoring_type = #{tutoring_type,jdbcType=INTEGER},
      is_hide = #{is_hide,jdbcType=INTEGER},
      tutoring_area = #{tutoring_area,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=LONGVARCHAR},
      edu_background = #{edu_background,jdbcType=LONGVARCHAR},
      work_exp = #{work_exp,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuya.model.Tutor" >
    update tutor
    set user_id = #{user_id,jdbcType=INTEGER},
      profession = #{profession,jdbcType=INTEGER},
      teaching_age = #{teaching_age,jdbcType=INTEGER},
      tutoring_timing = #{tutoring_timing,jdbcType=VARCHAR},
      tutoring_type = #{tutoring_type,jdbcType=INTEGER},
      is_hide = #{is_hide,jdbcType=INTEGER},
      tutoring_area = #{tutoring_area,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
